div {
    background-color: blue;
    border-width: 3px;
    width: 50px;
    height: 50px;
 
}
.container{
    display: flex ;
}
.o {
    display: flex;
    flex-direction: column;
}

.r >.o:hover{
    background-color: green;
} 