div {
    background-color: blue;
    border-width: 3px;
    width: 46px;
    height: 46px;
}
body{
    background-color:blue;

}
.container{
    align-content: center;
    display: flex ;
}
.o {
    display: flex;
    flex-direction: column;
}

.r >.o:hover{
    background-color: green;
} 
